---
import '../styles/global.css'

import Navbar from './Navbar.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Emerzon Kolki - JasonCrk</title>
  </head>
  <body>
    <div class='bg-dark text-white font-mplug'>
      <div
        class='container mx-auto md:px-layoutmd lg:px-layoutlg xl:px-layoutxl 2xl:px-layout2xl flex flex-col items-center gap-2'
      >
        <Navbar />
        <main
          class='w-full max-sm:px-6 sm:w-10/12 md:w-3/4 lg:w-3/4 xl:w-2/3 2xl:w-3/4'
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
