---
interface LinkProps {
  path: string
  name: string
}

const { path, name } = Astro.props as LinkProps

const isActive = path === Astro.url.pathname
---

<a
  href={path}
  class={`py-2 px-3 text-xl hover:underline hover:underline-offset-4 text-white ${
    isActive && 'bg-green-500'
  }`}
>
  {name}
</a>
